infra/state_machine.json
{
  "Comment": "SafeMigration orchestrator \u2014 fork, analyze, generate, stub, PR",
  "StartAt": "ForkRepository",
  "States": {
    "ForkRepository": {
      "Type": "Task",
      "Resource": "${ForkLambdaArn}",
      "Parameters": {
        "job_id.$": "$.job_id",
        "repository.$": "$.repository"
      },
      "ResultPath": "$.fork_result",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 4,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "MarkJobFailed",
          "ResultPath": "$.error"
        }
      ],
      "Next": "AnalyzePipeline"
    },
    "AnalyzePipeline": {
      "Type": "Task",
      "Resource": "${AnalyzeLambdaArn}",
      "Parameters": {
        "job_id.$": "$.job_id",
        "fork_full_name.$": "$.fork_result.fork_full_name",
        "migration_branch.$": "$.fork_result.migration_branch"
      },
      "ResultPath": "$.analysis_result",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "MarkJobFailed",
          "ResultPath": "$.error"
        }
      ],
      "Next": "GenerateChanges"
    },
    "GenerateChanges": {
      "Type": "Task",
      "Resource": "${GenerateLambdaArn}",
      "Parameters": {
        "job_id.$": "$.job_id",
        "migration_report.$": "$.analysis_result.migration_report",
        "scanned_files.$": "$.analysis_result.scanned_files"
      },
      "ResultPath": "$.generate_result",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "MarkJobFailed",
          "ResultPath": "$.error"
        }
      ],
      "Next": "GenerateStubs"
    },
    "GenerateStubs": {
      "Type": "Task",
      "Resource": "${StubLambdaArn}",
      "Parameters": {
        "job_id.$": "$.job_id",
        "scanned_files.$": "$.analysis_result.scanned_files"
      },
      "ResultPath": "$.stub_result",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "MarkJobFailed",
          "ResultPath": "$.error"
        }
      ],
      "Next": "CreatePullRequest"
    },
    "CreatePullRequest": {
      "Type": "Task",
      "Resource": "${PRLambdaArn}",
      "Parameters": {
        "job_id.$": "$.job_id",
        "fork_full_name.$": "$.fork_result.fork_full_name",
        "migration_branch.$": "$.fork_result.migration_branch",
        "base_branch.$": "$.fork_result.base_branch",
        "migration_report.$": "$.analysis_result.migration_report",
        "generated_changes.$": "$.generate_result",
        "generated_stubs.$": "$.stub_result.generated_stubs"
      },
      "ResultPath": "$.pr_result",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "MarkJobFailed",
          "ResultPath": "$.error"
        }
      ],
      "Next": "MarkJobCompleted"
    },
    "MarkJobCompleted": {
      "Type": "Task",
      "Resource": "${CompleteLambdaArn}",
      "Parameters": {
        "job_id.$": "$.job_id",
        "terminal_status": "completed",
        "pr_result.$": "$.pr_result",
        "generate_result.$": "$.generate_result",
        "stub_result.$": "$.stub_result"
      },
      "Next": "JobCompleted"
    },
    "MarkJobFailed": {
      "Type": "Task",
      "Resource": "${CompleteLambdaArn}",
      "Parameters": {
        "job_id.$": "$.job_id",
        "terminal_status": "failed",
        "error.$": "$.error"
      },
      "Next": "JobFailed"
    },
    "JobCompleted": {
      "Type": "Succeed"
    },
    "JobFailed": {
      "Type": "Fail",
      "Error": "MigrationFailed",
      "Cause": "A stage in the migration pipeline failed"
    }
  }
}