infra/state_machine.json
{
  "Comment": "SafeMigration orchestrator \u2014 fork, analyze, generate, stub, PR, check pipeline, feedback loop",
  "StartAt": "ForkRepository",
  "States": {
    "ForkRepository": {
      "Type": "Task",
      "Resource": "${ForkLambdaArn}",
      "Parameters": {
        "job_id.$": "$.job_id",
        "repository.$": "$.repository"
      },
      "ResultPath": "$.fork_result",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 4,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "MarkJobFailed",
          "ResultPath": "$.error"
        }
      ],
      "Next": "AnalyzePipeline"
    },
    "AnalyzePipeline": {
      "Type": "Task",
      "Resource": "${AnalyzeLambdaArn}",
      "Parameters": {
        "job_id.$": "$.job_id",
        "fork_full_name.$": "$.fork_result.fork_full_name",
        "migration_branch.$": "$.fork_result.migration_branch"
      },
      "ResultPath": "$.analysis_result",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "MarkJobFailed",
          "ResultPath": "$.error"
        }
      ],
      "Next": "GenerateChanges"
    },
    "GenerateChanges": {
      "Type": "Task",
      "Resource": "${GenerateLambdaArn}",
      "Parameters": {
        "job_id.$": "$.job_id",
        "migration_report.$": "$.analysis_result.migration_report",
        "scanned_files.$": "$.analysis_result.scanned_files"
      },
      "ResultPath": "$.generate_result",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "MarkJobFailed",
          "ResultPath": "$.error"
        }
      ],
      "Next": "GenerateStubs"
    },
    "GenerateStubs": {
      "Type": "Task",
      "Resource": "${StubLambdaArn}",
      "Parameters": {
        "job_id.$": "$.job_id",
        "scanned_files.$": "$.analysis_result.scanned_files"
      },
      "ResultPath": "$.stub_result",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "MarkJobFailed",
          "ResultPath": "$.error"
        }
      ],
      "Next": "CreatePullRequest"
    },
    "CreatePullRequest": {
      "Type": "Task",
      "Resource": "${PRLambdaArn}",
      "Parameters": {
        "job_id.$": "$.job_id",
        "fork_full_name.$": "$.fork_result.fork_full_name",
        "migration_branch.$": "$.fork_result.migration_branch",
        "base_branch.$": "$.fork_result.base_branch",
        "migration_report.$": "$.analysis_result.migration_report",
        "generated_changes.$": "$.generate_result",
        "generated_stubs.$": "$.stub_result.generated_stubs"
      },
      "ResultPath": "$.pr_result",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "MarkJobFailed",
          "ResultPath": "$.error"
        }
      ],
      "Next": "WaitForPipelineRun"
    },
    "WaitForPipelineRun": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "CheckPipelineStatus"
    },
    "CheckPipelineStatus": {
      "Type": "Task",
      "Resource": "${CheckPipelineLambdaArn}",
      "Parameters": {
        "job_id.$": "$.job_id",
        "fork_full_name.$": "$.fork_result.fork_full_name",
        "pr_number.$": "$.pr_result.pr_number"
      },
      "ResultPath": "$.pipeline_check",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "MarkJobFailed",
          "ResultPath": "$.error"
        }
      ],
      "Next": "CheckPipelineResult"
    },
    "CheckPipelineResult": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.pipeline_check.pipeline_status",
          "StringEquals": "success",
          "Next": "MarkJobCompleted"
        },
        {
          "Variable": "$.pipeline_check.pipeline_status",
          "StringEquals": "no_runs",
          "Next": "MarkJobCompleted"
        }
      ],
      "Default": "FeedbackLoop"
    },
    "FeedbackLoop": {
      "Type": "Task",
      "Resource": "${FeedbackLambdaArn}",
      "Parameters": {
        "job_id.$": "$.job_id",
        "fork_full_name.$": "$.fork_result.fork_full_name",
        "migration_branch.$": "$.fork_result.migration_branch",
        "pr_number.$": "$.pr_result.pr_number",
        "generated_changes.$": "$.generate_result",
        "feedback_attempts.$": "$.feedback_attempts"
      },
      "ResultPath": "$.feedback_result",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "MarkManualReview",
          "ResultPath": "$.error"
        }
      ],
      "Next": "IncrementFeedbackAttempts"
    },
    "IncrementFeedbackAttempts": {
      "Type": "Pass",
      "Parameters": {
        "feedback_attempts.$": "$.feedback_result.attempt_number"
      },
      "ResultPath": "$.feedback_tracking",
      "Next": "CheckFeedbackAttempts"
    },
    "CheckFeedbackAttempts": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.feedback_result.status",
          "StringEquals": "max_attempts_reached",
          "Next": "MarkManualReview"
        }
      ],
      "Default": "WaitForPipelineRun"
    },
    "MarkJobCompleted": {
      "Type": "Task",
      "Resource": "${CompleteLambdaArn}",
      "Parameters": {
        "job_id.$": "$.job_id",
        "terminal_status": "completed",
        "pr_result.$": "$.pr_result",
        "generate_result.$": "$.generate_result",
        "stub_result.$": "$.stub_result"
      },
      "Next": "JobCompleted"
    },
    "MarkJobFailed": {
      "Type": "Task",
      "Resource": "${CompleteLambdaArn}",
      "Parameters": {
        "job_id.$": "$.job_id",
        "terminal_status": "failed",
        "error.$": "$.error"
      },
      "Next": "JobFailed"
    },
    "MarkManualReview": {
      "Type": "Task",
      "Resource": "${CompleteLambdaArn}",
      "Parameters": {
        "job_id.$": "$.job_id",
        "terminal_status": "manual_review",
        "pr_result.$": "$.pr_result"
      },
      "Next": "ManualReview"
    },
    "JobCompleted": {
      "Type": "Succeed"
    },
    "JobFailed": {
      "Type": "Fail",
      "Error": "MigrationFailed",
      "Cause": "A stage in the migration pipeline failed"
    },
    "ManualReview": {
      "Type": "Succeed",
      "Comment": "Max feedback attempts reached \u2014 requires manual review"
    }
  }
}